<!DOCTYPE html>
<html>
<head>
	<title>Welcome to CarDudes!</title>
	<link rel = "stylesheet" href = "main.css">
</head>
<body>
	<div class = "container">
	<h1>Welcome to CarDudes!</h1>
	<h3>CarDudes User's Current Collection</h3>
	{{#cars}}
  	<a href = "/cars/{{username}}">
  	<div class = "usercontainer">
  		<img src = "{{carpic}}"/>
  		</br>
  		<span class = "info">Year: {{year}}</span>
  		</br>
  		<span class = "info">Make: {{make}}</span>
  		</br>
  		<span class = "info">Model: {{model}}</span>
  		</br>
  		<span class = "info">Engine: {{engine}}</span>
  		</br>
  		<span class = "info">Owner: {{name}}</span>
  		</br>
  		<span class = "info">Location: {{location}}</span>
  	</div>
  	</a>
  	{{/cars}}
</body>
</html>