<!DOCTYPE html>
<html>
<head>
	<title>DailyDriven Registry</title>
	<link rel = "stylesheet" href = "main.css">
</head>
<body>
	<div class = "container">
	<h1>Add your info to join DailyDriven!</h1>
	<form action = "/" method = "post" class = "memberEntry">
		<label>Fullname:</label>
		<input type = "text" name = "name" placeholder = "No aliases please.."/>
		<label>Age:</label>
		<input type = "text" name = "age" placeholder = "You can lie if you want..."/>
		<label>Location:</label>
		<input type = "text" name = "location" placeholder = "City, state, whatever..."/>
		<label>Social Media:</label>
		<input type = "text" name = "socialMedia" placeholder = "Facebook, Twitter, username"/>
		<label>Project Car Info</label>
			<form>
				<label>Year:</label>
				<input type = "text" name = "year"/>
				<label>Make:</label>
				<input type = "text" name = "make"/>
				<label>Model:</label>
				<input type = "text" name = "model"/>
				<label>Transmission:</label>
				<input type = "text" name = "transmission"/>
				<label>Engine

		<button type = "submit">Submit</button>



		<label>Import Profile Pic</label>
		<!-- <input type = "file"/> need to figure out import pic file-->/
	</form>
	</div>
</body>
</html>