<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Your Profile</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    {{#cars}}
    <h1>{{username}}'s Profile</h1> 
    <nav>
      <a href = "/cars">Create Your Own Profile</a>
      <a href = "/index">CarDude Directory</a>
      <a href="mailto:info@cardudes.com" target="_top">Email Us</a> 
    </nav>
  </header>
    <div class = "container">
      <div class = "userProfile">
      <img class = "profilePic" src = "{{carpic}}"/>  
        <div class = "userProfileInfo">   
        <p class = "userInfo">
          Owner Name: {{name}} |
          Age: {{age}} |
          Location: {{location}} |
          Website: {{website}} |
        </p>
          <div class = carBox>
          <h3>Car Info:</h3>
          <ul>
            <li>Year: {{year}}</li>
            <li>Make: {{make}}</li>
            <li>Model: {{model}}</li>
            <li>Transmission: {{transmission}}</li>
            <li>Engine: {{engine}}<li>
          </ul>
          </div>    
        </div>
      </div>
    </br>
    <a href = "/edit/{{username}}">Edit Your Profile, {{username}}</a>
    {{/cars}}
    </div>   
</body>
</html>